<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <connectionStrings>
    <add name="mydb" connectionString="server=dcm.uhcl.edu;database=c432016fa02modic;uid=modic;password=1509628; MultipleActiveResultSets=True " />
  </connectionStrings>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".dd" />
            <mimeMap fileExtension=".dd" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".001" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".dd" />
                    <add fileExtension=".dd" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
